<h1> All Tracks: </h1>
<p style="text-align: right;">
<a href="/home">Home</a>
<a href="/logout">Logout</a> 
</p>
<br><br>
<%@tracks.each do |track|%>
<p>

    <a href="/tracks/<%=track.id%>">Track # <%=track.id%></a>
<br><br>
    Name: <%=track.name%>
<br><br>
    Length: <%=track.length%>
<br><br>
    Type: <%=track.track_type%>
<br><br>
    Address: <%=track.address%>
<br><br>
</p>
<%end%>