<h1> All Tracks: </h1>
<br><br>
<%@tracks.each do |track|%>
<p>
    Track # <%=track.id%>
<br><br>
    Name: <%=track.name%>
<br><br>
    Length: <%=track.length%>
<br><br>
    Type: <%=track.track_type%>
<br><br>
    Address: <%=track.address%>
<br><br>
</p>
<%end%>