<h1> Track # <%=@track.id%></h1>
<p style="text-align: right;">
<a href="/home">Home</a>
<a href="/logout">Logout</a> 
</p>
<br><br>
<h2>Name: <%=@track.name%></h2>
<p>
Length: <%=@track.length%>
<br><br>
Type: <%=@track.track_type%>
<br><br>
Address: <%=@track.address%>
</p>
