<h1>All Reviews:</h1>

<%@reviews.each do |review|%>
<p>
<br><br>
    Review #: <%=review.id%>
    <br><br>
    <a href="/tracks/<%=review.track_id%>">Track Name: <%=review.track_name%></a>
    <br><br>
    Overall Rating: <%=review.overall%>
    <br><br>
    Vendors Rating: <%=review.vendors%>
    <br><br>
    Child Friendly Rating: <%=review.child_friendly%>
    <br><br>
    Walkability Rating: <%=review.walkability%>
    <br><br>
    Crowds Rating: <%=review.crowds%>
    <br><br>
    Comments: <%=review.comments%>
    <br><br>
    By: <%=@user.username%>
</p>
<%end%>