<head>
  <title>The Loop - Edit Review #: <%=@review.id%></title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<h1> Edit Review <%=@review.id%></h1>
<p style="text-align: right;">
<a href="/home">Home</a>
<a href="/logout">Logout</a> 
</p>
<br>
<%= "No track selected. Please select a track or create a new one." if @params_check == false%>
<%= "Selected and Created a new track. Please only choose one." if @params_single_checked == false%>
<br><br><br>

<form action='/reviews/<%=@review.id%>' method='POST'>
<input id="hidden" type="hidden" name="_method" value="patch"> 
Select the track to review:

<%if !@tracks.empty?%>
    <%@tracks.each do |track|%>
		<%if track.name == @current_track.name%>
        	<input type="radio" name="track_radio" checked="checked" value="<%=track.id%>" id="<%=track.id%>"><%=track.name%></input>
		<%else%>
			<input type="radio" name="track_radio" value="<%=track.id%>" id="<%=track.id%>"><%=track.name%></input>
		<%end%>
    <%end%>
    <br><br>
Or
<%end%>
<br>
<br><h3>Create a new one:</h3>
<label for=track_name>Track Name:</label>
<input type="text" id="track_name" name="track[name]" placeholder="Track Name">
<br><br>
<label for=track_length>Track Length(Decimal):</label>
<input type="text" id="track_length" name="track[length]" placeholder="Track Length">
<br><br>
<label for=track_type>Track Type:</label>
<input type="radio" id="track_type_oval" name="track[track_type]" value="oval">Oval
<input type="radio" id="track_type_road" name="track[track_type]" value="road">Road
<br><br>
<label for=track_address>Track Address:</label>
<input type="text" id="track_address" name="track[address]" placeholder="Track Address">
<br><br>
<h3>Select your ratings below:</h3>
<br><br>
<h3>Overall:</h3>
<%overall_counter = 5%>
<div class="stars">
<% while overall_counter >= 1%>
	<%if @review.overall == overall_counter%>
		<input class="star star-<%=overall_counter%>" id="overall_star-<%=overall_counter%>" type="radio" name="review[overall]" value="<%=overall_counter%>"  checked/>
		<label class="star star-<%=overall_counter%>" for="overall_star-<%=overall_counter%>"></label>
	<%else%>
		<input class="star star-<%=overall_counter%>" id="overall_star-<%=overall_counter%>" type="radio" name="review[overall]" value="<%=overall_counter%>"/>
		<label class="star star-<%=overall_counter%>" for="overall_star-<%=overall_counter%>"></label>
	<%end%>
<%overall_counter -= 1%>
<%end%>
</div>
<br><br>
<h3>Vendors:</h3>
<%vendors_counter = 5%>
<div class="stars">
<% while vendors_counter >= 1%>
	<%if @review.vendors == vendors_counter%>
		<input class="star star-<%=vendors_counter%>" id="vendors_star-<%=vendors_counter%>" type="radio" name="review[vendors]" value="<%=vendors_counter%>" checked/>
		<label class="star star-<%=vendors_counter%>" for="vendors_star-<%=vendors_counter%>"></label>
	<%else%>
		<input class="star star-<%=vendors_counter%>" id="vendors_star-<%=vendors_counter%>" type="radio" name="review[vendors]" value="<%=vendors_counter%>"/>
		<label class="star star-<%=vendors_counter%>" for="vendors_star-<%=vendors_counter%>"></label>
	<%end%>
<%vendors_counter -= 1%>
<%end%>
</div>
<br><br>
<h3>Child Friendly:</h3>
<%child_friendly_counter = 5%>
<div class="stars">
<% while child_friendly_counter >= 1%>
	<%if @review.child_friendly == child_friendly_counter%>
		<input class="star star-<%=child_friendly_counter%>" id="child_friendly_star-<%=child_friendly_counter%>" type="radio" name="review[child_friendly]" value="<%=child_friendly_counter%>" checked/>
		<label class="star star-<%=child_friendly_counter%>" for="child_friendly_star-<%=child_friendly_counter%>"></label>
	<%else%>
		<input class="star star-<%=child_friendly_counter%>" id="child_friendly_star-<%=child_friendly_counter%>" type="radio" name="review[child_friendly]" value="<%=child_friendly_counter%>"/>
		<label class="star star-<%=child_friendly_counter%>" for="child_friendly_star-<%=child_friendly_counter%>"></label>
	<%end%>
<%child_friendly_counter -= 1%>
<%end%>
</div>
<br><br>
<h3>Terrain/Walkability:</h3>
<%walkability_counter = 5%>
<div class="stars">
<% while walkability_counter >= 1%>
	<%if @review.walkability == walkability_counter%>
		<input class="star star-<%=walkability_counter%>" id="walkability_star-<%=walkability_counter%>" type="radio" name="review[walkability]" value="<%=walkability_counter%>"  checked/>
		<label class="star star-<%=walkability_counter%>" for="walkability_star-<%=walkability_counter%>"></label>
	<%else%>
		<input class="star star-<%=walkability_counter%>" id="walkability_star-<%=walkability_counter%>" type="radio" name="review[walkability]" value="<%=walkability_counter%>"/>
		<label class="star star-<%=walkability_counter%>" for="walkability_star-<%=walkability_counter%>"></label>
	<%end%>
<%walkability_counter -= 1%>
<%end%>
</div>
<br><br>
<h3>Crowds:</h3>
<%crowds_counter = 5%>
<div class="stars">
<% while crowds_counter >= 1%>
	<%if @review.crowds == crowds_counter%>
		<input class="star star-<%=crowds_counter%>" id="crowds_star-<%=crowds_counter%>" type="radio" name="review[crowds]" value="<%=crowds_counter%>" checked/>
		<label class="star star-<%=crowds_counter%>" for="crowds_star-<%=crowds_counter%>"></label>
	<%else%>
		<input class="star star-<%=crowds_counter%>" id="crowds_star-<%=crowds_counter%>" type="radio" name="review[crowds]" value="<%=crowds_counter%>"/>
		<label class="star star-<%=crowds_counter%>" for="crowds_star-<%=crowds_counter%>"></label>
	<%end%>
<%crowds_counter -= 1%>
<%end%>
</div>
<p>
<br>
<label for=comments>Comments:</label>
<br>
<textarea id="comments" name="review[comments]" rows="7" cols="50"><%=@review.comments%></textarea>
</p>
<input type="submit" value="Submit Edited Review">
</form>