<head>
  <title>The Loop - Edit Review #: <%=@review.id%></title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<h1> Edit Review <%=@review.id%></h1>
<p style="text-align: right;">
<a href="/home">Home</a>
<a href="/logout">Logout</a> 
</p>
<br>
<%= "No track selected. Please select a track or create a new one." if @params_check == false%>
<%= "Selected and Created a new track. Please only choose one." if @params_single_checked == false%>
<br><br><br>

<form action='/reviews/<%=@review.id%>' method='POST'>
<input id="hidden" type="hidden" name="_method" value="patch"> 

Select the track to review:

<%if !@tracks.empty?%>
    <%@tracks.each do |track|%>
		<%if track.name == @current_track.name%>
        	<input type="radio" name="track_radio" checked="checked" value="<%=track.id%>" id="<%=track.id%>"><%=track.name%></input>
		<%else%>
			<input type="radio" name="track_radio" value="<%=track.id%>" id="<%=track.id%>"><%=track.name%></input>
		<%end%>
    <%end%>
    <br><br>
Or
<%end%>
<br>
<br><h3>Create a new one:</h3>
<label for=track_name>Track Name:</label>
<input type="text" id="track_name" name="track[name]" placeholder="Track Name">
<br><br>
<label for=track_length>Track Length(Decimal):</label>
<input type="text" id="track_length" name="track[length]" placeholder="Track Length">
<br><br>
<label for=track_type>Track Type:</label>
<input type="radio" id="track_type_oval" name="track[track_type]" value="oval">Oval
<input type="radio" id="track_type_road" name="track[track_type]" value="road">Road
<br><br>
<label for=track_address>Track Address:</label>
<input type="text" id="track_address" name="track[address]" placeholder="Track Address">
<br><br>
<h3>Select your ratings below:</h3>
<br><br>
<h3>Overall:</h3>
<div class="stars">

	    <input class="star star-5" id="overall_star-5" type="radio" name="review[overall]" value="5"/>
	    <label class="star star-5" for="overall_star-5"></label>
	    <input class="star star-4" id="overall_star-4" type="radio" name="review[overall]" value="4"/>
	    <label class="star star-4" for="overall_star-4"></label>
	    <input class="star star-3" id="overall_star-3" type="radio" name="review[overall]" value="3"/>
	    <label class="star star-3" for="overall_star-3"></label>
	    <input class="star star-2" id="overall_star-2" type="radio" name="review[overall]" value="2"/>
	    <label class="star star-2" for="overall_star-2"></label>
	    <input class="star star-1" id="overall_star-1" type="radio" name="review[overall]" value="1"/>
	    <label class="star star-1" for="overall_star-1"></label>  
	</div>
<br><br>
<h3>Vendors:</h3>
<div class="stars">
	    <input class="star star-5" id="vendors_star-5" type="radio" name="review[vendors]" value="5"/>
	    <label class="star star-5" for="vendors_star-5"></label>
	    <input class="star star-4" id="vendors_star-4" type="radio" name="review[vendors]" value="4"/>
	    <label class="star star-4" for="vendors_star-4"></label>
	    <input class="star star-3" id="vendors_star-3" type="radio" name="review[vendors]" value="3"/>
	    <label class="star star-3" for="vendors_star-3"></label>
	    <input class="star star-2" id="vendors_star-2" type="radio" name="review[vendors]" value="2"/>
	    <label class="star star-2" for="vendors_star-2"></label>
	    <input class="star star-1" id="vendors_star-1" type="radio" name="review[vendors]" value="1"/>
	    <label class="star star-1" for="vendors_star-1"></label>  
	</div>
<br><br>
<h3>Child Friendly:</h3>
<div class="stars">	  
	    <input class="star star-5" id="child_friendly_star-5" type="radio" name="review[child_friendly]" value="5"/>
	    <label class="star star-5" for="child_friendly_star-5"></label>
	    <input class="star star-4" id="child_friendly_star-4" type="radio" name="review[child_friendly]" value="4"/>
	    <label class="star star-4" for="child_friendly_star-4"></label>
	    <input class="star star-3" id="child_friendly_star-3" type="radio" name="review[child_friendly]" value="3"/>
	    <label class="star star-3" for="child_friendly_star-3"></label>
	    <input class="star star-2" id="child_friendly_star-2" type="radio" name="review[child_friendly]" value="2"/>
	    <label class="star star-2" for="child_friendly_star-2"></label>
	    <input class="star star-1" id="child_friendly_star-1" type="radio" name="review[child_friendly]" value="1"/>
	    <label class="star star-1" for="child_friendly_star-1"></label>	  
	</div>
<br><br>
<h3>Terrain/Walkability:</h3>
<div class="stars">	  
	    <input class="star star-5" id="walkability_star-5" type="radio" name="review[walkability]" value="5"/>
	    <label class="star star-5" for="walkability_star-5"></label>
	    <input class="star star-4" id="walkability_star-4" type="radio" name="review[walkability]" value="4"/>
	    <label class="star star-4" for="walkability_star-4"></label>
	    <input class="star star-3" id="walkability_star-3" type="radio" name="review[walkability]" value="3"/>
	    <label class="star star-3" for="walkability_star-3"></label>
	    <input class="star star-2" id="walkability_star-2" type="radio" name="review[walkability]" value="2"/>
	    <label class="star star-2" for="walkability_star-2"></label>
	    <input class="star star-1" id="walkability_star-1" type="radio" name="review[walkability]" value="1"/>
	    <label class="star star-1" for="walkability_star-1"></label> 
	</div>
<br><br>
<h3>Crowds:</h3>
<div class="stars">  
	    <input class="star star-5" id="crowds_star-5" type="radio" name="review[crowds]" value="5"/>
	    <label class="star star-5" for="crowds_star-5"></label>
	    <input class="star star-4" id="crowds_star-4" type="radio" name="review[crowds]" value="4"/>
	    <label class="star star-4" for="crowds_star-4"></label>
	    <input class="star star-3" id="crowds_star-3" type="radio" name="review[crowds]" value="3"/>
	    <label class="star star-3" for="crowds_star-3"></label>
	    <input class="star star-2" id="crowds_star-2" type="radio" name="review[crowds]" value="2"/>
	    <label class="star star-2" for="crowds_star-2"></label>
	    <input class="star star-1" id="crowds_star-1" type="radio" name="review[crowds]" value="1"/>
	    <label class="star star-1" for="crowds_star-1"></label>
	</div>
<p>
<br>
<label for=comments>Comments:</label>
<br>
<textarea id="comments" name="review[comments]" rows="7" cols="50" placeholder="<%=@review.comments%>"></textarea>
</p>

<input type="submit" value="Submit Edited Review">
</form>