<h1> Create a Review: </h1>
<br>
<%= "No track selected. Please select a track or create a new one." if @params_check == false%>
<%= "Selected and Created a new track. Please only choose one." if @params_single_checked == false%>
<br><br><br>
<form action='/new' method='POST'>

Select the track to review:

<%if !@tracks.empty?%>
        <input type="radio" name="track_radio" value="" checked>None</input>
    <%@tracks.each do |track|%>
        <input type="radio" name="track_radio" value="<%=track.id%>" id="<%=track.id%>"><%=track.name%></input>
    <%end%>
    <br><br>
Or
<%end%>
<br>
<br><h3>Create a new one:</h3>
<label for=track_name>Track Name:</label>
<input type="text" id="track_name" name="track[name]" placeholder="Track Name">
<br><br>
<label for=track_length>Track Length(Decimal):</label>
<input type="text" id="track_length" name="track[length]" placeholder="Track Length">
<br><br>
<label for=track_type>Track Type:</label>
<input type="radio" id="track_type_oval" name="track[track_type]" value="oval">Oval
<input type="radio" id="track_type_road" name="track[track_type]" value="road">Road
<br><br>
<label for=track_address>Track Address:</label>
<input type="text" id="track_address" name="track[address]" placeholder="Track Address">
<br><br>
<h3>Select your ratings below:</h3>
Lowest 1 <-----> 5 Highest
<br><br>
<label for=overall>Overall:</label>
<input type="radio" id="overall1" name="review[overall]" value="1">1
<input type="radio" id="overall2" name="review[overall]" value="2">2
<input type="radio" id="overall3" name="review[overall]" value="3">3
<input type="radio" id="overall4" name="review[overall]" value="4">4
<input type="radio" id="overall5" name="review[overall]" value="5">5
<br><br>
<label for=vendors>Vendors:</label>
<input type="radio" id="vendors1" name="review[vendors]" value="1">1
<input type="radio" id="vendors2" name="review[vendors]" value="2">2
<input type="radio" id="vendors3" name="review[vendors]" value="3">3
<input type="radio" id="vendors4" name="review[vendors]" value="4">4
<input type="radio" id="vendors5" name="review[vendors]" value="5">5
<br><br>
<label for=child_friendly>Child Friendly:</label>
<input type="radio" id="child_friendly1" name="review[child_friendly]" value="1">1
<input type="radio" id="child_friendly2" name="review[child_friendly]" value="2">2
<input type="radio" id="child_friendly3" name="review[child_friendly]" value="3">3
<input type="radio" id="child_friendly4" name="review[child_friendly]" value="4">4
<input type="radio" id="child_friendly5" name="review[child_friendly]" value="5">5
<br><br>
<label for=walkability>Terrain/Walkability:</label>
<input type="radio" id="walkability1" name="review[walkability]" value="1">1
<input type="radio" id="walkability2" name="review[walkability]" value="2">2
<input type="radio" id="walkability3" name="review[walkability]" value="3">3
<input type="radio" id="walkability4" name="review[walkability]" value="4">4
<input type="radio" id="walkability5" name="review[walkability]" value="5">5
<br><br>
<label for=crowds>Crowds:</label>
<input type="radio" id="crowds1" name="review[crowds]" value="1">1
<input type="radio" id="crowds2" name="review[crowds]" value="2">2
<input type="radio" id="crowds3" name="review[crowds]" value="3">3
<input type="radio" id="crowds4" name="review[crowds]" value="4">4
<input type="radio" id="crowds5" name="review[crowds]" value="5">5
<p>
<br>
<label for=comments>Comments:</label>
<br>
<textarea id="comments" name="review[comments]" rows="7" cols="50" placeholder="Write your comments here"></textarea>
</p>

<input type="submit" value="Submit Review">
</form>