<h1>Review <%=@review.id%></h1>
<br><br>
Track Name: <%=@review.track_name%>
<br><br>
Overall Rating: <%=@review.overall%>
<br><br>
Vendors Rating: <%=@review.vendors%>
<br><br>
Child Friendly Rating: <%=@review.child_friendly%>
<br><br>
Walkability Rating: <%=@review.walkability%>
<br><br>
Crowds Rating: <%=@review.crowds%>
<br><br>
Comments: <%=@review.comments%>
<br><br>
By: <%=@user.username%>
