<head>
  <title>The Loop - Review #: <%=@review.id%></title>
</head>

<h1>Review <%=@review.id%></h1>
<p style="text-align: right;">
<a href="/home">Home</a>
<a href="/logout">Logout</a> 
</p>
<%@post_user = User.find_by(id: @review.user_id)%>
<br><br>
    <a href="/tracks/<%=@review.track_id%>">Track Name: <%=@review.track_name%></a>
<br><br>
Overall Rating: <%=@review.overall%>
<br><br>
Vendors Rating: <%=@review.vendors%>
<br><br>
Child Friendly Rating: <%=@review.child_friendly%>
<br><br>
Walkability Rating: <%=@review.walkability%>
<br><br>
Crowds Rating: <%=@review.crowds%>
<br><br>
Comments: <%=@review.comments%>
<br><br>
By: <%=@post_user.username%>
<br><br><br><br>
<a href="/reviews/<%=@review.id%>/edit">Edit Post</a>
<br>
<a href="/reviews/<%=@review.id%>/delete">Delete Post</a>