<h1>Your reviews:</h1>

<%@reviews.each do |review|%>

<%if review.user_id == @user.id%>
    <p>
    <br><br>
        <a href="/reviews/<%=review.id%>">Review #:<%=review.id%></a>
        <br><br>
        <a href="/tracks/<%=review.track_id%>">Track Name: <%=review.track_name%></a>
        <br><br>
        Overall Rating: <%=review.overall%>
        <br><br>
        Vendors Rating: <%=review.vendors%>
        <br><br>
        Child Friendly Rating: <%=review.child_friendly%>
        <br><br>
        Walkability Rating: <%=review.walkability%>
        <br><br>
        Crowds Rating: <%=review.crowds%>
        <br><br>
        Comments: <%=review.comments%>
    </p>
    <%end%>
<%end%>